@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gilory-Regular.ttf');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Gilory-Medium.ttf');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Gilory-SemiBold.ttf');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Gilory-Bold.ttf');
}
